<section class="gallery-section">
  <div class="container">
    <div class="row">
    <div class="col-sm-3">
      <ul class="people_list">
        {{#each artists}}
          <li><a href="/artist/{{this.id}}">{{this.fullname}}</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-9">
      <p>this is the catalog page</p>
      <ul class="people_list">
        {{#each artists}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    </div>
  </div>


</section>





