<a href="/login">LogIn</a>
<a href="/register">Register</a>
<a href="/find">Find Item</a>
<a href="/create">Add Item</a>

<!-- <p>this is the home page</p>
<ul class="people_list">
  {{#each users}}
    <li>{{this.username}}</li>
  {{/users}}
</ul>
 -->
