
<section class="homepage text-center">
  <div class="container">
    <div class="row">
      <main class="col-12 ">
        <h1><br />WELCOME TO GALLERY</h1>
        <h2>HOME OF THE CLASSIC ART</h2><br /><br />
        <a href="/artists"><div class="btn btn-lg btn-default">Browse artists</div></a> 
        <br /><br />
        <a href="/items"><div class="btn btn-lg btn-default">All items</div></a>
        <br />
      </main>
    </div>
  </div>
</section>



