
<div class="container main-background">
  <div class="row">
    <main class="col-12 ">
      <h1><br />Welcome to Gallery</h1>
      <h2>home of the classic art</h2><br /><br />
      <a href="/artists"><div class="button-large">Browse artists</div></a> 
      <br /><br />
      <a href="/items"><div class="button-large">All items</div></a>
      <br />
    </main>
  </div>
</div>



