
<main class="col-12">
  <h1><br />Welcome to Gallery</h1>
  <h2>home of the classic art</h2><br /><br />
  <a href="/artists">Browse collection</a> <br /><br />
  <a href="/create">Add New...</a><br />
</main>


