
<section  class="login-page">
  <div class="container new-artist">
    <div class="row">
      <div class="col-12 ">
        <br />
        <h3 class="add-new-link">Add a new artist</h3><br />
        <form method="post" action="/artists/new" enctype="multipart/form-data">

          <input type="text" name="fullname" placeholder="Artist fullname here" size="101" required />
          <br /><br />
     
          <textarea name="about" rows="10" cols="100" required>About the artist</textarea>
          <br /><br />
          <input type="file" name="foto" placeholder="Foto path" required image/*/>
          <br /><br />
          <button>Add artist</button>
        </form>
      </div>
  </div>
</section>  


  






