<main class="container">
  <div class="row">
    <div class="col-4">
      <h2>Sign up</h2>
      <p class="red">{{message}}</p>
      <form method="post" action="/register">
        <label class="form-block">
        <input type="text" name="username" placeholder="Pick a username" />
        </label><br />
        <label class="form-block">
        <input type="password" name="password" placeholder="Choose a password" />
        </label><br />
        <label class="form-block">
        <input type="password" name="password_confirmation" placeholder="Confirm your password" />
        </label><br />
        <button>Sign up</button>
      </form>
    </div>
  </div>
</main>



