<footer class="container">
  <nav class="row">
    <div class="col-12">
      <ul class="menu">
        <p>&copy; Constantin Pojoga <pojogac@gmail.com> Chicago 2016</p>
      </ul>
    </div>
  </nav>
</footer>
