<header class="container">
  <nav class="row">
    <div class="col-12">
      <ul class="menu">
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Log in</a> | </li>
        <li><a href="/items">Find</a> | </li>
        <li><a href="/artists">Artists</a> | </li>
        <li><a href="/">Home</a> | </li> 
      </ul>
    </div>
  </nav>
</header>

    
